html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    font-size: x-large;
}
.strike{
    text-decoration:line-through;
}
